body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 0.5em;
  flex-grow: 1;
  height: 15vh;
}

.item:nth-child(1) {
  background-color: darkblue;
}

.item:nth-child(2) {
  background-color: darkred;
}

.item:nth-child(3) {
  background-color: darkorange;
}

.item:nth-child(4) {
  background-color: darkgreen;
}

.item:nth-child(5) {
  background-color: darkcyan;
}

.item:nth-child(6) {
  background-color: darkmagenta;
}

.item:nth-child(7) {
  background-color: darkslateblue;
}

.item:nth-child(8) {
  background-color: darkslategray;
}
